<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.website}"></title>
    <meta name="description" th:content="#{meta.description.website}">
    <meta name="keywords" th:content="#{meta.keywords.website}">
    <link rel="icon" type="image/x-icon" href="assets/images/fav blue-02.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="./assets/css/style-elements.css">
    <link rel="stylesheet" href="./assets/css/style.css">
  <script type="text/javascript">
        (function(d, t) {
            var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
            v.onload = function() {
                window.voiceflow.chat.load({
                    verify: { projectID: '68c13ade1a969a057c46a683' },
                    url: 'https://general-runtime.voiceflow.com',
                    versionID: 'production',
                    voice: {
                        url: "https://runtime-api.voiceflow.com"
                    }
                });
            }
            v.src = "https://cdn.voiceflow.com/widget-next/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
        })(document, 'script');
    </script>
    <style>
        ::-webkit-scrollbar-thumb {
            background: linear-gradient(90deg, #1a4d5e 0%, #1C3456 100%);
            border: 2px solid hsl(0, 0%, 95%);
        }
        .grid-list1 {
            grid-template-columns: repeat(5, 1fr);
            display:grid;
            gap: 10px;
        }
        .service-card3 {
            background-position: center center;
            width: 230px; /* Set a width for the box */
            height: 100px; /* Fixed height for the box */
            padding: 20px 20px 20px 20px;
            box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.5);
            border-style: solid;
            border-width: 0px 0px 0px 0px;
            border-color: #f5f5f5;
            border-radius: 10px 10px 10px 10px;

            box-shadow: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
            border-radius: 6px;
        }
        @media(max-width:1000px){
            .grid-list1 {
                grid-template-columns: repeat(2, 1fr);
            }
            .service-card3{
                width: 180px; /* Set a width for the box */
                height: 100px; /* Fixed height for the box */
            }
        }
        .hero-title {
            background: linear-gradient(270deg, #1b75bb 0%, #E8ECFF 72%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-block: 12px 8px;
        }
    </style>
</head>
<body id="top">
<header class="header">
    <th:block th:replace="~{/navbar}"></th:block>
</header>
<main>
    <article>
        <section class="section hero has-bg-image " aria-label="home" style=" background: linear-gradient(90deg, #00112C 9.803921568627452%, #011E5A 50%, #002372 79.41%);">
            <div class="container">
                <div class="hero-content">
                    <h1 class="section-title" style="color: white;">
                        [[#{navbar.Successful}]]  <span class="hero-title">  [[#{navbar.WEB}]] </span>  [[#{navbar.Made}]] </h1>
                </div>
                <div class="hero-slider" data-slider>
                    <div class="slider-inner ">
                        <ul class="slider-container" data-slider-container>
                            <li class="slider-item">
                                <figure class="img-holder">
                                    <img src="./assets/images/Resize_image_project-removebg-previewnew.png" alt=""
                                         class="img-cover banner-animation">
                                </figure>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
        <section class="section service" aria-labelledby="service-label">
            <div class="container">
                <h2 class="h2 section-title" style="text-align: center;">
                    [[#{navbar.Our}]]
                </h2>
                <ul class="grid-list">
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <img src="assets/images/instant-site-devices2.jpg" style="width: 70px;padding: 10px;">
                            <h3 class="h4 card-title">  [[#{navbar.WebsiteResponsive}]]
                            </h3>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;  background-color: #e5eff7;">
                            <img src="assets/images/Content-Management.png" style="width: 70px !important;padding: 10px;">
                            <h3 class="h4 card-title">   [[#{navbar.BookingIntegration}]] </h3>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <img src="assets/images/instant-site-pages2.jpg" style="width: 70px;padding: 10px;">
                            <h3 class="h4 card-title">   [[#{navbar.SEOOptimization}]] </h3>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <div class="container">
            <ul class="project-list">
                <li class="project-item">
                    <div class="project-card">
                        <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                            <img src="assets/images/Hotel Uji i Ftohte, Tepelene, Albania (23.11.2023 11_25).png" width="397"
                                 loading="lazy" alt="" class="img-cover">
                        </figure>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-card">
                        <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                            <img src="assets/images/empire.png" width="397" loading="lazy"
                                 alt="" class="img-cover">
                        </figure>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-card">
                        <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                            <img src="assets/images/screencapture-belvedere-al-2023-11-23-11_44_52.png" width="397" loading="lazy"
                                 alt="" class="img-cover">
                        </figure>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-card">
                        <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                            <img src="./assets/images/screencapture-miramare-boutique-al-2023-11-23-11_49_32.png" width="397"
                                 loading="lazy" alt="" class="img-cover">
                        </figure>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-card">
                        <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                            <img
                                    src="./assets/images/Rapos Resort Hotel - Best Luxuy Accommodation in Himare (23.11.2023 11_53).png"
                                    width="397" loading="lazy" alt="" class="img-cover">
                        </figure>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-card">
                        <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                            <img src="./assets/images/screencapture-hotelbelvedere-al-2023-11-23-12_00_32.png" width="397"
                                 height="352" loading="lazy" alt="" class="img-cover">
                        </figure>
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <section class="section feature " aria-labelledby="feature-label" style="background-color: #e5eff7;">
            <div class="container ">
                <figure class=" about-content">
                    <img src="./assets/images/Resize_image_project-removebg-previewnew.png" width="800" height="531" loading="lazy" alt="feature banner"
                         class="w-100">
                </figure>
                <div class="feature-content">
                    <a th:href="${'/pms-program-hoteli-'+ #locale.language +'.html'}">
                        <p class="section-subtitle" id="feautre-label"></p>
                    </a>
                    <a th:href="${'/pms-program-hoteli-'+ #locale.language +'.html'}">
                        <h2 class="h2 section-title">
                            [[#{navbar.HotelWebsite}]]
                        </h2>
                    </a>
                    <p class="section-text">
                        [[#{navbar.InterMedia}]]
                    </p>
                    <br>
                    <span class="herobtn"> <a th:href="${'/contact-'+ #locale.language +'.html'}" class="btn">Contact</a></span>
                </div>
            </div>
        </section>
        <section class="section service" aria-labelledby="service-label">
            <div class="container">
                <h2 class="h2 section-title" style="text-align: center;">
                    [[#{navbar.Some}]]
                </h2>
                <ul class="grid-list  grid-list1">
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://vmresort.al/"  target="_blank">  <img src="assets/images/clients/vm-resort.png" style="width: 130px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://rapos.al/"  target="_blank">   <img src="assets/images/clients/rapos.png" style="width: 130px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://bonsai.al/"  target="_blank">   <img src="assets/images/clients/bonsai.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://niaboutique.al/"   target="_blank"> <img src="assets/images/clients/nia-logo.png" style="width: 110px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://mazarine.al/"   target="_blank">   <img src="assets/images/clients/mazarine.png" style="width: 110px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://hotel1maji.al/"   target="_blank">    <img src="assets/images/clients/hotel1maji.png" style="width: 100px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.6milje.al/"  target="_blank">   <img src="assets/images/clients/6milje.png" style="width: 130px;">
                            </a>
                        </div>

                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://aurum.al/"  target="_blank"> <img src="assets/images/clients/aurum-logo.png" style="width: 130px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.bunec-resort.al/"  target="_blank">   <img src="assets/images/clients/bunec-beach-resort.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://seaview-bunec.al/"  target="_blank">   <img src="assets/images/clients/seaview-bunec.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://divo-palace.al/"  target="_blank">   <img src="assets/images/clients/divo-palace.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://hotel-holiday.al/"  target="_blank">   <img src="assets/images/clients/holiday.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://monunhotel.al/"  target="_blank">   <img src="assets/images/clients/monun-hotel.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://happy-stay.al/"  target="_blank">   <img src="assets/images/clients/happy-stay.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://kolagji.al/"  target="_blank">   <img src="assets/images/clients/kolagji.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://hotel-alpha.al/"  target="_blank">   <img src="assets/images/clients/hotel-alpha.png" style="width: 50px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://vila-celaj.al/"  target="_blank">   <img src="assets/images/clients/celaj.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://goldensun.al/"  target="_blank">   <img src="assets/images/clients/golden-sun.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.sasso.al/"  target="_blank">   <img src="assets/images/clients/sasso-hotel.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://centerboutique.al/"  target="_blank">   <img src="assets/images/clients/center-boutique.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://senator.al/"  target="_blank">   <img src="assets/images/clients/hotel-senator.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://mema.al/"  target="_blank">   <img src="assets/images/clients/mema-resort.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://dorchesterhotel.al/"  target="_blank">   <img src="assets/images/clients/dorchester.png" style="width: 70px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://vullkan-hotel.al/"  target="_blank">   <img src="assets/images/clients/vullkan-hotel.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.hotel-golden.al/"  target="_blank">   <img src="assets/images/clients/golden-hotel.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://harbourhotel.al/"  target="_blank">   <img src="assets/images/clients/harbour.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://sky-way.al/"  target="_blank">   <img src="assets/images/clients/sky-way.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.hotelkaan.al/"  target="_blank">   <img src="assets/images/clients/kaan.png" style="width:80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://alexander.al/"  target="_blank">   <img src="assets/images/clients/alexander-hotel.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.joni-kompleks.al/"  target="_blank">   <img src="assets/images/clients/joni-kompleks.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://sunset-aparthotel.al/"  target="_blank">   <img src="assets/images/clients/sunset-aparthotel.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://apart-hotel-alex.al/"  target="_blank">   <img src="assets/images/clients/alex-aparthotel.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://vila-shpetimi.al/"  target="_blank">   <img src="assets/images/clients/shpetimi-villa.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.oskar.al/"  target="_blank">   <img src="assets/images/clients/oskar.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://sunrays.al/"  target="_blank">   <img src="assets/images/clients/sunrays-hotel.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://vila-milo.al/"  target="_blank">   <img src="assets/images/clients/vila-milo.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://royal1967.al/"  target="_blank">   <img src="assets/images/clients/royal.png" style="width:65px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.arrei.al/"  target="_blank">   <img src="assets/images/clients/arrei-hotel.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://green-garden.al/"  target="_blank">   <img src="assets/images/clients/green-garden.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://oxygenboutique.al/"  target="_blank">   <img src="assets/images/clients/oxygen.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.mesopotam-resort.al/"  target="_blank">   <img src="assets/images/clients/mesopotam.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.hotelbeke.al/"  target="_blank">   <img src="assets/images/clients/hotel-beke.png" style="width:60px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://gesthotel.al/"  target="_blank">   <img src="assets/images/clients/gest-hotel.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://seawave.al/"  target="_blank">   <img src="assets/images/clients/seawave.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://lamaroja.al/"  target="_blank">   <img src="assets/images/clients/la-maroja.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.ottohotel.al/"  target="_blank">   <img src="assets/images/clients/otto-hotel.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://hotel-erioni.al/"  target="_blank">   <img src="assets/images/clients/erioni-hotel.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://galaxyhotel.al/"  target="_blank">   <img src="assets/images/clients/galaxy-hotel.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://centerhotel.al/"  target="_blank">   <img src="assets/images/clients/center hotel.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://hotel-argjiro.al/"  target="_blank">   <img src="assets/images/clients/argjiro.png" style="width: 70px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://hotel-afa.al/"  target="_blank">   <img src="assets/images/clients/hotel-afa.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://hotelaliko.al/"  target="_blank">   <img src="assets/images/clients/hotel-aliko.png" style="width:50px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://soare.al/"  target="_blank">   <img src="assets/images/clients/soare.png" style="width:90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://lej-laj-residence.al/"  target="_blank">   <img src="assets/images/clients/lej-laj.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://arelhotel.al/"  target="_blank">   <img src="assets/images/clients/arel-hotel.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://hotel-milo.al/"  target="_blank">   <img src="assets/images/clients/hotel-milo.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.elmare.al/"  target="_blank">   <img src="assets/images/clients/elmare.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://unico-aparthotel.al/"  target="_blank">   <img src="assets/images/clients/unico.png" style="width: 50px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://hotel-sole.al/"  target="_blank">   <img src="assets/images/clients/hotel-sole.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://lamaison.al/"  target="_blank">   <img src="assets/images/clients/la-maison.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://asirooftop.al/"  target="_blank">   <img src="assets/images/clients/asi-rooftop.png" style="width: 40px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://cekodhima.al/"  target="_blank">   <img src="assets/images/clients/cekodhima.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://atlantis-hotel.al/"  target="_blank">   <img src="assets/images/clients/atlantis.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.mega-hostel.al/"  target="_blank">   <img src="assets/images/clients/mega-hosttel.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://ajden.al/"  target="_blank">   <img src="assets/images/clients/ajden.png" style="width: 70px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://albulena-hotel.al/"  target="_blank">   <img src="assets/images/clients/albulena.jpg" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.3islands.al/"  target="_blank">   <img src="assets/images/clients/3islands.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://olimpic.al/index.html"  target="_blank">   <img src="assets/images/clients/olimpic-hotel.png" style="width:90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://blueboutique.al/"  target="_blank">   <img src="assets/images/clients/blue-boutique.png" style="width:90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://altobelo.al/"  target="_blank">   <img src="assets/images/clients/altobelo.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://areahotel.al/"  target="_blank">   <img src="assets/images/clients/area-hotel.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://comfort-suites.al/"  target="_blank">   <img src="assets/images/clients/comfort-suites.png" style="width: 120px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://emblemhotel.al/"  target="_blank">   <img src="assets/images/clients/emblem.png" style="width: 60px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://sunkissed.al/"  target="_blank">   <img src="assets/images/clients/sunkissed.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.elite-hotel.al/"  target="_blank"> <img src="assets/images/clients/elite-hotel.png" style="width:90px;">

                        </div> </a>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.belizhotel.com/"  target="_blank">   <img src="assets/images/clients/beliz.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://mira-mare.al/"  target="_blank">   <img src="assets/images/clients/mira-mare.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://adam-eve-suites.al/"  target="_blank">   <img src="assets/images/clients/adam-eve.png" style="width: 60px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://centralhotel.al/"  target="_blank">   <img src="assets/images/clients/central-hotel.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card3" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.hotel-kuburi.al/"  target="_blank">   <img src="assets/images/clients/kuburi.png" style="width: 50px;">
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </section>
    </article>
</main>

<th:block th:replace="~{/footer}"> </th:block>

<th:block th:replace="~{/cookie-consent}"></th:block>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="./assets/js/script.js" defer></script>
</body>
</html>