<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.channel.manager}"></title>
    <meta name="description" th:content="#{meta.description.channel.manager}">
    <meta name="keywords" th:content="#{meta.keywords.channel.manager}">

    <link rel="icon" type="image/x-icon" href="assets/images/fav blue-02.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="./assets/css/style-elements.css">
    <link rel="stylesheet" href="./assets/css/style.css">
     <script type="text/javascript"> var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/68ff4466d6c35b19500efec9/1j8j389su';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })(); </script>
</head>
<body id="top">
<header class="header">
    <th:block th:replace="~{/navbar}"></th:block>
</header>
<main>
    <article>
        <section>
            <div class="bg-images"
                 style="background: url('./assets/images/BG-014.jpg') center/cover no-repeat fixed;">
                <section class="container text-center">
                    <h1 style="color: white;  font-size: 3.6rem;"> [[#{navbar.ChannelManager}]]</h1>
                </section>
            </div>
        </section>
        <section>
            <div class="feature-content container section">
                <h2 class="h2 section-title" style="text-align: center;">
                    [[#{navbar.Empower}]]
                </h2>
                <p class="" style="text-align:center;">
                    [[#{navbar.management}]]
                </p>
                <br>
                <ul class="feature-list1" style="color: #03253d;">
                    <li>
                        <div class="feature-card">
                            <div class="card-icon">
                                <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                            </div>
                            <span class="span">
               [[#{navbar.ChannelMapping}]]
                </span>
                        </div>
                    </li>
                    <li>
                        <div class="feature-card">
                            <div class="card-icon">
                                <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                            </div>
                            <span class="span">
                 [[#{navbar.Allotment}]]
                </span>
                        </div>
                    </li>
                    <li>
                        <div class="feature-card">
                            <div class="card-icon">
                                <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                            </div>
                            <span class="span">
                [[#{navbar.Updating}]]
                </span>
                        </div>
                    </li>
                    <li>
                        <div class="feature-card">
                            <div class="card-icon">
                                <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                            </div>
                            <span class="span">
               [[#{navbar.MultiP}]]
                </span>
                        </div>
                    </li>
                    <li>
                        <div class="feature-card">
                            <div class="card-icon">
                                <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                            </div>
                            <span class="span">
               [[#{navbar.Automatic}]]
                </span>
                        </div>
                    </li>
                    <li>
                        <div class="feature-card">
                            <div class="card-icon">
                                <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                            </div>
                            <span class="span">
               [[#{navbar.Detailed}]]
                </span>
                        </div>
                    </li>
                    <li>
                        <div class="feature-card">
                            <div class="card-icon">
                                <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                            </div>
                            <span class="span">
              [[#{navbar.Dynamic}]]
                </span>
                        </div>
                    </li>
                    <li>
                        <div class="feature-card">
                            <div class="card-icon">
                                <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                            </div>
                            <span class="span">
              [[#{navbar.Calendar}]]
                </span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="about  section" id="about" data-wow-delay="0.1s">
            <div class="container">
                <figure class=" features-banner">
                    <img src="./assets/images/baner 1 ok-02 (1).png" loading="lazy" alt="BookersDesk integration with booking platforms like Airbnb, Expedia, Booking.com, Agoda, and Hostelworld" class="w-100 ">
                </figure>
                <div class="about-content">
                    <h2 class="h2 section-title underline" style="text-align: center;">[[#{navbar.Why}]]</h2>
                    <p class="about-text">   [[#{navbar.serves}]]
                        <b>   [[#{navbar.efficiency}]] </b>
                    </p>
                </div>
            </div>
        </section>
        <!--
          - #PMS
        -->
        <section class="section feature " aria-labelledby="feature-label"
                 style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./assets/images/bg.jpg') center/cover no-repeat;">
            <div class="container ">
                <div class="feature-content">
                    <p class="section-subtitle" id="feautre-label">[[#{navbar.ChannelManager}]]</p>
                    <h2 class="h2 section-title ">[[#{navbar.Performance}]]</h2>
                    <p class="section-text">  [[#{navbar.beyond}]]</p>
                </div>
                <figure class=" feature-banner ">
                    <img src="assets/images/bdesk/chn.png" width="600" height="431" loading="lazy" alt="Performance analysis in BookersDesk Channel Manager"
                         class="w-100 ">
                </figure>
            </div>
        </section>
        <section class="about section" id="about" data-wow-delay="0.1s">
            <div class="container">
                <figure class=" about-banner">
                    <img src="./assets/images/Untitled design.gif" loading="lazy" alt="about banner" class="w-100 ">
                </figure>
                <div class="about-content">
                    <p class="section-subtitle" id="feautre-label">  [[#{navbar.ChannelManager}]]</p>
                    <h2 class="h2 section-title">   [[#{navbar.PriceManagement}]] </h2>
                    <p class="about-text">  [[#{navbar.consistency}]]

                    </p>
                </div>
            </div>
        </section>
    </article>
</main>

<th:block th:replace="~{/footer}"> </th:block>

<th:block th:replace="~{/cookie-consent}"></th:block>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="./assets/js/script.js" defer></script>
</body>
</html>