<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.pms}"></title>
    <meta name="description" th:content="#{meta.description.pms}">
    <meta name="keywords" th:content="#{meta.keywords.pms}">
    <link rel="icon" type="image/x-icon" href="assets/images/fav blue-02.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="./assets/css/style-elements.css">
    <link rel="stylesheet" href="./assets/css/style.css">
     <script type="text/javascript"> var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/68ff4466d6c35b19500efec9/1j8j389su';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })(); </script>
</head>
<body id="top">
<header class="header">
    <th:block th:replace="~{/navbar}"></th:block>
</header>
<main>
    <article>
        <section>
            <div class="bg-images"
                 style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/images/dark-blue-gradient-background-9562-1024x616.jpg') center/cover no-repeat fixed;">
                <section class="container text-center">
                    <h1 style="color: white;   font-size: 3.6rem;">[[#{pms.hotel}]]  </h1>
                </section>
            </div>
        </section>
        <section class="section service" aria-labelledby="service-label" style="padding-bottom: 0%;">
            <div class="container">
          <span style="display: flex;justify-content: center;">
            <h2 class="h2 section-title">[[#{pms.Features}]]</h2>
          </span>
                <hr><br>
                <ul class="grid-list ">
                    <li>
                        <div class="service-card1">
                            <h3 class="h4 card-title">[[#{pms.Management}]]</h3>
                            <p class="card-text">[[#{pms.property}]]

                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="service-card1">
                            <h3 class="h4 card-title">[[#{pms.Optimization}]]</h3>
                            <p class="card-text">
                                [[#{pms.pricing}]]
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="service-card1">
                            <h3 class="h4 card-title">[[#{pms.Support}]]</h3>
                            <p class="card-text">
                                [[#{pms.dedicated}]]
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="about section" id="about" data-wow-delay="0.1s">
            <div class="container">
                <figure class=" features-banner">
                    <img src="assets/images/bdesk/pmsnew.png" loading="lazy" alt="BookersDesk PMS system for property management"
                         class="w-100 ">
                </figure>
                <div class="about-content">
                    <h3 class="h3 section-title">
                        [[#{pms.Managementsystem}]]
                    </h3>
                    <p class="about-text">
                        [[#{pms.includes}]]
                    </p>
                </div>
            </div>
        </section>
        <section class="about section" id="about" data-wow-delay="0.1s" style="background-color: #ebeffd;">
            <div class="container">
                <div class="about-content">
                    <h3 class="h3 section-title">
                        [[#{pms.Performance}]]
                    </h3>
                    <p class="about-text">[[#{pms.Beyond}]]

                    </p>
                </div>
                <figure class=" features-banner">
                    <img src="./assets/images/bdesk/bookingenginnew.png" loading="lazy" alt="about banner" class="w-100 ">
                </figure>
            </div>
        </section>
        <!--
          - #PMS
        -->
        <section class="about section" id="about" data-wow-delay="0.1s" >
            <div class="container ">
                <figure class=" about-banner">
                    <img src="./assets/images/PMS 0101-05new.png" width="800" height="531" loading="lazy" alt="Security and support in the BookersDesk PMS system"
                         class="w-100">
                </figure>
                <div class="about-content">
                    <h3 class="h3 section-title">
                        [[#{pms.Security}]]
                    </h3>
                    <p class="section-text">[[#{pms.standards}]]

                    </p>
                </div>
            </div>
        </section>
    </article>
</main>

<th:block th:replace="~{/footer}"> </th:block>

<th:block th:replace="~{/cookie-consent}"></th:block>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="./assets/js/script.js" defer></script>
</body>
</html>