<!-- /cookie-consent.html -->
<div class="wrapper">
    <header>
        <i class="bx bx-cookie"></i>
        <h2>[[#{cookies.Cookies}]]  </h2>
    </header>
    <div class="data">
        <p>[[#{cookies.use}]]
            <a th:href="${'cookies-policy- '+ #locale.language +'.html' }">[[#{cookies.more}]]</a>
        </p>
    </div>
    <div class="buttons">
        <button class="button" id="acceptBtn">[[#{cookies.Accept}]]</button>
        <button class="button" id="declineBtn">[[#{cookies.Decline}]]</button>
    </div>
</div>
