<footer class="footer">
    <div class="container">
        <div class="footer-top section">
            <div class="footer-brand1">
                <ul class="footer-list">
                    <li>
                        <p class="footer-list-title">[[#{navbar.Services}]]</p>
                    </li>
                    <li>
                        <a th:href="${'/channel-manager-'+ #locale.language +'.html'}" class="footer-link hover-underline"> [[#{navbar.ChannelManager}]] </a>
                    </li>
                    <li>
                        <a th:href="${'/pms-program-hoteli-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{footer.pms}]] </a>
                    </li>
                    <li>
                        <a th:href="${'/booking-engine-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{navbar.BookingEngine}]]</a>
                    </li>
                    <li>
                        <a th:href="${'/marketing-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{navbar.Marketing}]]</a>
                    </li>
                    <li>
                        <a th:href="${'/business-website-'+ #locale.language +'.html'}" class="footer-link hover-underline">  [[#{navbar.BusinessWebsite}]] </a>
                    </li>
                    <li>
                        <a th:href="${'/revenue-management-'+ #locale.language +'.html'}" class="footer-link hover-underline"> [[#{navbar.RevenueManagement}]] </a>
                    </li>
                    <li>
                        <a th:href="${'/hotel-marketing-solution-'+ #locale.language +'.html'}" class="footer-link hover-underline">  [[#{navbar.DigitalMarketing}]] </a>
                    </li>
                </ul>

            </div>
            <ul class="footer-list">
                <li>
                    <p class="footer-list-title">[[#{navbar.Solutions}]] </p>
                </li>
                <li>
                    <a th:href="${'/hotels-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{navbar.Hotels}]]</a>
                </li>
                <li>
                    <a th:href="${'/hostels-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{navbar.Hostels}]]</a>
                </li>
                <li>
                    <a th:href="${'/B&B-inns-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{navbar.B&BandInns}]]</a>
                </li>
                <li>
                    <a th:href="${'/hotel-groups-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{footer.hotelgr}]] </a>
                </li>
                <li>
                    <a th:href="${'/vacation-rentals-'+ #locale.language +'.html'}" class="footer-link hover-underline">  [[#{cmimet.VacationRentals}]] </a>
                </li>
                <li>
                    <a th:href="${'/integration-category-'+ #locale.language +'.html'}" class="footer-link hover-underline"> GDS</a>
                </li>
            </ul>
            <ul class="footer-list">
                <li>
                    <p class="footer-list-title">[[#{navbar.Partnership}]]</p>
                </li>
                <li>
                    <a th:href="${'/sales-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{navbar.Sales}]]</a>
                </li>
                <li>
                    <a th:href="${'/pricing-'+ #locale.language +'.html'}" class="footer-link hover-underline"> [[#{navbar.OurPackages}]] </a>
                </li>
                <li>
                    <a th:href="${'/updates-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{footer.Updates}]]</a>
                </li>
                <li>
                    <a href="https://help.bookersdesk.com/hyrje.html" class="footer-link hover-underline">[[#{footer.ResourceCenter}]]
                    </a>
                </li>
                <li>
                    <a th:href="${'/partner-with-bookersdesk-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{navbar.OurPartners}]]</a>
                </li>
                <li>
                    <a th:href="${'/reseller-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{navbar.AuthorizedResellers}]]</a>
                </li>
                <li>
                    <a href="https://help.bookersdesk.com/" class="footer-link hover-underline"> [[#{navbar.TechnicalSupport}]] </a>
                </li>
            </ul>
            <ul class="footer-list">
                <li>
                    <p class="footer-list-title">[[#{navbar.Company}]]</p>
                </li>
                <li>
                    <a th:href="${'/about-us-'+ #locale.language +'.html'}" class="footer-link hover-underline"> [[#{navbar.AboutUs}]] </a>
                </li>
                <li>
                    <a th:href="${'/our-team-'+ #locale.language +'.html'}" class="footer-link hover-underline"> [[#{navbar.OurTeam}]]</a>
                </li>
                <li>
                    <a th:href="${'/klientet-'+ #locale.language +'.html'}" class="footer-link hover-underline"> [[#{navbar.OurClients}]]</a>
                </li>
                <li>
                    <a th:href="${'/careers-'+ #locale.language +'.html'}" class="footer-link hover-underline"> [[#{navbar.Careers}]]</a>
                </li>
                <li>
                    <a th:href="${'/reviews-'+ #locale.language +'.html'}" class="footer-link hover-underline">[[#{navbar.Reviews}]] </a>
                </li>
                <li>
                    <a th:href="${'/social-impact-'+ #locale.language +'.html'}" class="footer-link hover-underline"> [[#{navbar.SocialImpact}]]</a>
                </li>
                <li>
                    <a th:href="${'/sitemap-'+ #locale.language +'.html'}" class="footer-link hover-underline"> [[#{footer.sitemap}]]</a>
                </li>
                <li>
                    <a th:href="${'/contact-'+ #locale.language +'.html'}" class="footer-link hover-underline"> [[#{navbar.ContactUs}]] </a>
                </li>
            </ul>
            <ul class="footer-list">
                <li>
                    <p class="footer-list-title"> [[#{navbar.Contact}]]  </p>
                </li>
                <li>
                    <a href="mailto:sales@bookersdesk.com" class="footer-link">
                        <i class="fa fa-shopping-cart me-3" style="color: hsl(202, 36%, 72%);"></i> sales@bookersdesk.com
                    </a>
                </li>


                <li>
                    <a href="mailto:support@bookersdesk.com" class="footer-link">
                        <i class="fa fa-headset me-3" style="color: hsl(202, 36%, 72%);"></i> support@bookersdesk.com
                    </a>
                </li>
                <li>
                    <a href="mailto:reseller@bookersdesk.com" class="footer-link">
                        <i class="fa fa-handshake me-3" style="color: hsl(202, 36%, 72%);"></i> reseller@bookersdesk.com
                    </a>
                </li>

                <li>
                    <a href="mailto:people@bookersdesk.com" class="footer-link">
                        <i class="fa fa-briefcase me-3" style="color: hsl(202, 36%, 72%);"></i> people@bookersdesk.com
                    </a>
                </li>

                <li>
                    <a href="mailto:accounts@bookersdesk.com" class="footer-link">
                        <i class="fa fa-envelope me-3" style="color: hsl(202, 36%, 72%);"></i> accounts@bookersdesk.com
                    </a>
                </li>
                <li>
                    <a href="mailto:website@bookersdesk.com" class="footer-link">
                        <i class="fa fa-at me-3" style="color: hsl(202, 36%, 72%);"></i> website@bookersdesk.com
                    </a>
                </li>
                <li>
                    <a href="mailto:marketing@bookersdesk.com" class="footer-link">
                        <i class="fa fa-bullhorn me-3" style="color: hsl(202, 36%, 72%);"></i> marketing@bookersdesk.com
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-brand">
            <ul class="terms-list">
                <li><a th:href="${'/cookies-policy-'+ #locale.language +'.html'}" class="footer-link">[[#{footer.CookiesPolicy}]] </a></li>
                <li><a th:href="${'/privacy-policy-'+ #locale.language +'.html'}" class="footer-link">[[#{footer.PrivacyPolicy}]]</a></li>
                <li><a th:href="${'/data-security-'+ #locale.language +'.html'}" class="footer-link">[[#{footer.DataSecurity}]]</a></li>
                <li><a th:href="${'/terms-and-conditions-'+ #locale.language +'.html'}" class="footer-link">[[#{footer.TermsConditions}]]</a></li>
            </ul>
            <ul class="social-list">
                <li>
                    <a href="https://www.facebook.com/profile.php?id=61553280737713" class="social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@bookers-desk" class="social-link">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/bookersdesk/" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/98496675/admin/feed/posts/" class="social-link">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="left-section">
                <p class="footer-description">
                    [[#{footer.part}]]  <a href="https://www.intermedia.al/" target="_blank">InterMedia LTD,</a>
                    [[#{footer.offers}]]
                    <a href="https://www.allbookers.com/" target="_blank">AllBookers.com</a> [[#{footer.bookings}]] <a href="HotelsChecking.com" target="_blank">
                    HotelsChecking.com</a> [[#{footer.hotel}]]
                </p>
                <p class="copyright">[[#{footer.rights}]]
                </p>
            </div>
            <div class="center-section">
                <div class="image-container">
                    <img src="assets/images/scured.png" style="width: 130px; margin-bottom: 15px;" alt="PCI DSS SSL secure badge">
                </div>
            </div>
        </div>
        <div class="footer-brandbottom">
            <ul class="terms-list">
                <li style="padding: 10px;    align-items: center;"><img style="margin-top: 7px;" src="assets/images/footer/Airbnb_Logo_Bélo.svg.png" class="partner-logo1"></li>
                <li style="padding: 10px;    align-items: center;"><img src="assets/images/footer/baner allbookers-02 (1).png" class="partner-logo"></li>
                <li style="padding: 10px;    align-items: center;"><img style="    max-width: 95px; " src="assets/images/footer/EG_Connected(1).PNG" class="partner-logo1"></li>
                <li style="padding: 10px;    align-items: center;"><img style="margin-top: 5px;" src="assets/images/footer/Pink and Black Modern Initials Logo Design.png" class="partner-logo"></li>
                <li style="padding: 22px;    align-items: center;"><img style="    margin-top: 7px; " src="assets/images/footer/Hotelbeds_Part of HBX Group_Logo_Rev.png" class="partner-logo"></li>
                <li style="padding: 22px;    align-items: center;"><img style="    margin-top: 7px; " src="assets/images/footer/tripcom.png" class="partner-logo"></li>

            </ul>
        </div>
    </div>
</footer>