<footer class="footer">
    <div class="container">
        <div class="footer-top section">
            <div class="footer-brand1">
                <ul class="footer-list">
                    <li>
                        <p class="footer-list-title">Services</p>
                    </li>
                    <li>
                        <a th:href="${'/channel-manager-'+ #locale.language +'.html'}" class="footer-link hover-underline">Channel Manager</a>
                    </li>
                    <li>
                        <a th:href="${'/pms-program-hoteli-'+ #locale.language +'.html'}" class="footer-link hover-underline"> Hotel PMS Program</a>
                    </li>
                    <li>
                        <a th:href="${'/booking-engine-'+ #locale.language +'.html'}" class="footer-link hover-underline">Booking Engine</a>
                    </li>
                    <li>
                        <a th:href="${'/marketing-'+ #locale.language +'.html'}" class="footer-link hover-underline">Marketing</a>
                    </li>
                    <li>
                        <a th:href="${'/business-website-'+ #locale.language +'.html'}" class="footer-link hover-underline"> Business Website</a>
                    </li>
                    <li>
                        <a th:href="${'/revenue-management-'+ #locale.language +'.html'}" class="footer-link hover-underline"> Revenue Management</a>
                    </li>
                    <li>
                        <a th:href="${'/hotel-marketing-solution-'+ #locale.language +'.html'}" class="footer-link hover-underline"> Digital Marketing Suite</a>
                    </li>
                </ul>

            </div>
            <ul class="footer-list">
                <li>
                    <p class="footer-list-title">Solutions </p>
                </li>
                <li>
                    <a th:href="${'/hotels-'+ #locale.language +'.html'}" class="footer-link hover-underline">Hotels</a>
                </li>
                <li>
                    <a th:href="${'/hostels-'+ #locale.language +'.html'}" class="footer-link hover-underline">Hostels</a>
                </li>
                <li>
                    <a th:href="${'/B&B-inns-'+ #locale.language +'.html'}" class="footer-link hover-underline">B&B and Inns</a>
                </li>
                <li>
                    <a th:href="${'/hotel-groups-'+ #locale.language +'.html'}" class="footer-link hover-underline">Hotel Groups</a>
                </li>
                <li>
                    <a th:href="${'/vacation-rentals-'+ #locale.language +'.html'}" class="footer-link hover-underline"> Vacation Rentals</a>
                </li>
                <li>
                    <a th:href="${'/integration-category-'+ #locale.language +'.html'}" class="footer-link hover-underline"> GDS</a>
                </li>
            </ul>
            <ul class="footer-list">
                <li>
                    <p class="footer-list-title">Partnership</p>
                </li>
                <li>
                    <a th:href="${'/sales-'+ #locale.language +'.html'}" class="footer-link hover-underline">Sales</a>
                </li>
                <li>
                    <a th:href="${'/pricing-'+ #locale.language +'.html'}" class="footer-link hover-underline">Our Packages</a>
                </li>
                <li>
                    <a th:href="${'/updates-'+ #locale.language +'.html'}" class="footer-link hover-underline">Updates</a>
                </li>
                <li>
                    <a href="https://help.bookersdesk.com/hyrje.html" class="footer-link hover-underline">Resource Center
                    </a>
                </li>
                <li>
                    <a th:href="${'/partner-with-bookersdesk-'+ #locale.language +'.html'}" class="footer-link hover-underline">Our Partners</a>
                </li>
                <li>
                    <a th:href="${'/reseller-'+ #locale.language +'.html'}" class="footer-link hover-underline">Authorized Resellers</a>
                </li>
                <li>
                    <a href="https://help.bookersdesk.com/" class="footer-link hover-underline">Technical Support</a>
                </li>
            </ul>
            <ul class="footer-list">
                <li>
                    <p class="footer-list-title">Company</p>
                </li>
                <li>
                    <a th:href="${'/about-us-'+ #locale.language +'.html'}" class="footer-link hover-underline"> About Us</a>
                </li>
                <li>
                    <a th:href="${'/our-team-'+ #locale.language +'.html'}" class="footer-link hover-underline"> Our Team</a>
                </li>
                <li>
                    <a th:href="${'/klientet-'+ #locale.language +'.html'}" class="footer-link hover-underline"> Our Clients</a>
                </li>
                <li>
                    <a th:href="${'/careers-'+ #locale.language +'.html'}" class="footer-link hover-underline"> Careers</a>
                </li>
                <li>
                    <a th:href="${'/reviews-'+ #locale.language +'.html'}" class="footer-link hover-underline"> Reviews</a>
                </li>
                <li>
                    <a th:href="${'/social-impact-'+ #locale.language +'.html'}" class="footer-link hover-underline"> Social Impact</a>
                </li>
                <li>
                    <a th:href="${'/contact-'+ #locale.language +'.html'}" class="footer-link hover-underline"> Contact Us </a>
                </li>
            </ul>
            <ul class="footer-list">
                <li>
                    <p class="footer-list-title">Contact </p>
                </li>
                <li>
                    <a href="mailto:sales@bookersdesk.com" class="footer-link">
                        <i class="fa fa-shopping-cart me-3" style="color: hsl(202, 36%, 72%);"></i> sales@bookersdesk.com
                    </a>
                </li>


                <li>
                    <a href="mailto:support@bookersdesk.com" class="footer-link">
                        <i class="fa fa-headset me-3" style="color: hsl(202, 36%, 72%);"></i> support@bookersdesk.com
                    </a>
                </li>
                <li>
                    <a href="mailto:reseller@bookersdesk.com" class="footer-link">
                        <i class="fa fa-handshake me-3" style="color: hsl(202, 36%, 72%);"></i> reseller@bookersdesk.com
                    </a>
                </li>

                <li>
                    <a href="mailto:people@bookersdesk.com" class="footer-link">
                        <i class="fa fa-briefcase me-3" style="color: hsl(202, 36%, 72%);"></i> people@bookersdesk.com
                    </a>
                </li>

                <li>
                    <a href="mailto:accounts@bookersdesk.com" class="footer-link">
                        <i class="fa fa-envelope me-3" style="color: hsl(202, 36%, 72%);"></i> accounts@bookersdesk.com
                    </a>
                </li>
                <li>
                    <a href="mailto:website@bookersdesk.com" class="footer-link">
                        <i class="fa fa-at me-3" style="color: hsl(202, 36%, 72%);"></i> website@bookersdesk.com
                    </a>
                </li>
                <li>
                    <a href="mailto:marketing@bookersdesk.com" class="footer-link">
                        <i class="fa fa-bullhorn me-3" style="color: hsl(202, 36%, 72%);"></i> marketing@bookersdesk.com
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-brand">
            <ul class="terms-list">
                <li><a th:href="${'/cookies-policy-'+ #locale.language +'.html'}" class="footer-link">Cookies Policy</a></li>
                <li><a th:href="${'/privacy-policy-'+ #locale.language +'.html'}" class="footer-link">Privacy Policy</a></li>
                <li><a th:href="${'/data-security-'+ #locale.language +'.html'}" class="footer-link">Data Security</a></li>
                <li><a th:href="${'/terms-and-conditions-'+ #locale.language +'.html'}" class="footer-link">Terms & Conditions</a></li>
            </ul>
            <ul class="social-list">
                <li>
                    <a href="https://www.facebook.com/profile.php?id=61553280737713" class="social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@bookers-desk" class="social-link">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/bookersdesk/" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/98496675/admin/feed/posts/" class="social-link">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="left-section">
                <p class="footer-description">
                    BookersDesk.com, part of <a href="https://www.intermedia.al/" target="_blank">InterMedia LTD</a>, offers a PMS and channel manager for easy hotel management. It connects with <a href="https://www.allbookers.com/" target="_blank">AllBookers.com</a> for bookings, <a href="HotelsChecking.com" target="_blank">HotelsChecking.com</a> for hotel comparisons, and provides website development with a direct booking system.
                </p>
                <p class="copyright">Copyright © 2020–2025 BookersDesk.com™. All rights reserved.
                </p>
            </div>
            <div class="center-section">
                <div class="image-container">
                    <img src="assets/images/scured.png" style="width: 130px; margin-bottom: 15px;" alt="PCI DSS SSL secure badge">
                </div>
            </div>
        </div>
        <div class="footer-brandbottom">
            <ul class="terms-list">
                <li><img src="assets/images/logo-01-01.png" class="partner-logo1"></li>
                <li><img src="assets/images/bookersDesklogo.png" class="partner-logo"></li>
                <li><img src="assets/images/logoallbokers.png" class="partner-logo1"></li>
                <li><img src="assets/images/logo-intermedia.png" class="partner-logo"></li>
            </ul>
        </div>
    </div>
</footer>