<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<style>
  div#nav-menu {
    width: 84%;
  }
</style>
<nav class="nav container">
  <div class="nav__data">
    <a th:href="${'/index-'+ #locale.language +'.html'}" class="logo nav_logo"><img src="assets/images/blueee-03.png" style="width: 130px;" alt="Bookers Desk logo">
    </a>
    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-menu-line nav__toggle-menu"></i>
      <i class="ri-close-line nav__toggle-close"></i>
    </div>
  </div>

  <div class="nav__menu" id="nav-menu">
    <ul class="nav__list">
      <li class="dropdown__item" style="white-space: nowrap;">
        <div class="nav__link dropdown__button"> [[#{navbar.Services}]]   <i class="ri-arrow-down-s-line dropdown__arrow"></i>
        </div>
        <div class="dropdown__container">
          <div class="dropdown__content">
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-settings-3-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.ManagementOperations}]]</span>
              <ul class="dropdown__list">
                <li><a th:href="${'/channel-manager-'+ #locale.language +'.html'}" class="dropdown__link"> <i class="fa fa-chevron-right"></i>
                  [[#{navbar.ChannelManager}]]   </a></li>
                <li><a th:href="${'/pricing-'+ #locale.language +'.html'}" class="dropdown__link"> <i class="fa fa-chevron-right"></i>
                  [[#{navbar.Pricing}]]  </a></li>
                <li><a href="https://help.bookersdesk.com/" class="dropdown__link" target="_blank"><i
                        class="fa fa-chevron-right"></i> [[#{navbar.TechnicalSupport}]] </a></li>

              </ul>
            </div>
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-calendar-check-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.ReservationManagement}]] </span>
              <ul class="dropdown__list">
                <li><a th:href="${'/pms-program-hoteli-'+ #locale.language +'.html'}" class="dropdown__link "> <i
                        class="fa fa-chevron-right"></i> [[#{navbar.PMSHotelProgram}]] </a></li>
                <li><a th:href="${'/booking-engine-'+ #locale.language +'.html'}" class="dropdown__link"> <i class="fa fa-chevron-right"></i>
                  [[#{navbar.BookingEngine}]]       </a></li>
                <li><a th:href="${'/revenue-management-'+ #locale.language +'.html'}" class="dropdown__link"> <i class="fa fa-chevron-right"></i>
                  [[#{navbar.RevenueManagement}]]   </a></li>
              </ul>
            </div>
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-global-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.MarketingWebsite}]] </span>
              <ul class="dropdown__list">
                <li><a th:href="${'/marketing-'+ #locale.language +'.html'}" class="dropdown__link"> <i class="fa fa-chevron-right"></i>
                  [[#{navbar.Marketing}]]     </a></li>
                <li><a th:href="${'/business-website-'+ #locale.language +'.html'}" class="dropdown__link"> <i class="fa fa-chevron-right"></i>
                  [[#{navbar.BusinessWebsite}]]   </a></li>
                <li><a th:href="${'/hotel-marketing-solution-'+ #locale.language +'.html'}" class="dropdown__link"> <i
                        class="fa fa-chevron-right"></i> [[#{navbar.DigitalMarketing}]] </a></li>
              </ul>
            </div>
            <div class="dropdown__group dropdown__none">
              <div class="sub-menu-item" style="text-align: center;align-items: center;padding: 20px;">
                <div class="image-containerheader">
                  <img src="assets/images/bdesk/kartevizite.png" class="center-image" alt="Kartëvizita e Bookers Desk">
                </div>
                <h3>[[#{navbar.ExploreServices}]]</h3>
                <p style="text-align: center;" th:utext="#{navbar.Weoffer}"> </p>
                <a th:href="${'/channel-manager-'+ #locale.language +'.html'}" class="btn-text1">
                  <span class="hover-underline">[[#{navbar.LearnMore}]] </span>
                  <ion-icon name="arrow-forward-outline" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a th:href="${'/pricing-'+ #locale.language +'.html'}" class="nav__link hover-underline">[[#{navbar.Pricing}]]</a>
      </li>
      <!--=============== DROPDOWN 2 ===============-->
      <li class="dropdown__item"  style="white-space: nowrap;">
        <div class="nav__link dropdown__button">[[#{navbar.Solutions}]]  <i class="ri-arrow-down-s-line dropdown__arrow"></i>
        </div>
        <div class="dropdown__container">
          <div class="dropdown__content">

            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-hotel-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.Accommodation}]]</span>
              <ul class="dropdown__list">
                <li><a th:href="${'/hotels-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.Hotels}]]</a>
                </li>
                <li><a th:href="${'/hostels-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.Hostels}]] </a>
                </li>
              </ul>
            </div>
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-home-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.Hospitality}]]</span>
              <ul class="dropdown__list">
                <li><a th:href="${'/B&B-inns-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.B&BandInns}]]</a></li>
                <li><a th:href="${'/vacation-rentals-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.VacationRentals}]]</a></li>
              </ul>
            </div>
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-refresh-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.UpdatesPackages}]]</span>
              <ul class="dropdown__list">
                <li><a th:href="${'/pricing-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.OurPackages}]] </a></li>
                <li><a th:href="${'/updates-'+ #locale.language +'.html'}" class="dropdown__link"> <i class="fa fa-chevron-right"></i> [[#{navbar.LatestUpdates}]] </a></li>
              </ul>
            </div>
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-team-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.PartnershipSupport}]]</span>
              <ul class="dropdown__list">
                <li><a th:href="${'/partner-with-bookersdesk-'+ #locale.language +'.html'}" class="dropdown__link"> <i
                        class="fa fa-chevron-right"></i> [[#{navbar.OurPartners}]] </a></li>
                <li><a th:href="${'/reseller-'+ #locale.language +'.html'}" class="dropdown__link"> <i class="fa fa-chevron-right"></i> [[#{navbar.AuthorizedResellers}]]  </a></li>
              </ul>
            </div>
            <div class="dropdown__group dropdown__none">
              <div class="sub-menu-item1 service" style="text-align: center;align-items: center;padding: 20px;">
                <div class="image-containerheader">
                  <img src="assets/images/ICONN-01.png" style="width: 70px;" class="center-image" alt="">
                </div>
                <h2 class="title | gradient-text ">
                  <span>[[#{navbar.AllSolutions}]]</span>
                </h2>
                <a th:href="${'/booking-engine-'+ #locale.language +'.html'}" class="btn-text1">
                  <span class="hover-underline">[[#{navbar.LearnMore}]]</span>
                  <ion-icon name="arrow-forward-outline" aria-hidden="true" role="img"
                            class="md hydrated"></ion-icon>
                </a>
              </div>
            </div>
          </div>
          <section class="cta-section dropdown__none">
            <div class="container">
              <h2 class="dropdown__title">[[#{navbar.Discovernew}]]</h2>
              <a href="https://panel.bookersdesk.com/freeDemo?lang=en" class="btn-outline">
                <span>[[#{navbar.RequestaDemo}]]  <img src="https://fadata.eu/wp-content/uploads/2023/05/arrow-right.svg" alt="arrow"></span>
              </a>
            </div>
          </section>

        </div>
      </li>

      <li>
        <a th:href="${'/reviews-'+ #locale.language +'.html'}" class="nav__link hover-underline">[[#{navbar.Reviews}]]</a>
      </li>
      <li class="dropdown__item"  style="white-space: nowrap;">
        <div class="nav__link dropdown__button">
          [[#{navbar.Resources}]]  <i class="ri-arrow-down-s-line dropdown__arrow"></i>
        </div>
        <div class="dropdown__container">
          <div class="dropdown__content">

            <!-- Resources & Tools -->
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-book-open-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.ResourcesTools}]]</span>
              <ul class="dropdown__list">
                <li><a th:href="${'/all-resources-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.AllResources}]] </a></li>
                <li><a th:href="${'/tools-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.ToolsGuides}]]</a></li>
                <li><a href="https://help.bookersdesk.com/" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.CustomerSupport}]]</a></li>
              </ul>
            </div>

            <!-- Booking Management -->
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-calendar-check-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.BookingManagement}]] </span>
              <ul class="dropdown__list">
                <li><a th:href="${'/reservations-distribution-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.ReservationDistribution}]] </a></li>
                <li><a th:href="${'/guest-management-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.GuestManagement}]] </a></li>
                <li><a th:href="${'/industry-trends-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.IndustryTrends}]] </a></li>
              </ul>
            </div>

            <!-- Reports & Updates -->
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-bar-chart-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.ReportsUpdates}]]</span>
              <ul class="dropdown__list">
                <li><a th:href="${'/reports-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.DetailedReports}]]</a></li>
                <li><a th:href="${'/updates-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.AnnouncementsImprovements}]]</a></li>
                <li><a th:href="${'/ndikimi-social-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.SocialImpact}]]</a></li>
              </ul>
            </div>

            <!-- Additional Section with Image -->
            <div class="dropdown__group dropdown__none">
              <div class="sub-menu-item1 service" style="text-align: center; align-items: center; padding: 20px;">
                <div class="image-containerheader">
                  <img src="assets/images/bdesk/resource.png" style="width: 180px;" class="center-image" alt="Burime nga Bookers Desk">
                </div>
                <h2 class="title | gradient-text">
                  <span>[[#{navbar.Howcan}]]</span>
                </h2>
                <a th:href="${'/all-resources-'+ #locale.language +'.html'}" class="btn-text1">
                  <span class="hover-underline">[[#{navbar.Viewall}]]</span>
                  <ion-icon name="arrow-forward-outline" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                </a>
              </div>
            </div>

          </div>
        </div>
      </li>


      <!--=============== DROPDOWN 3 ===============-->
      <li class="dropdown__item"  style="white-space: nowrap;">
        <div class="nav__link dropdown__button">
          [[#{navbar.Company}]]   <i class="ri-arrow-down-s-line dropdown__arrow"></i>
        </div>
        <div class="dropdown__container">
          <div class="dropdown__content">
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-community-line"></i>
              </div>
              <span class="dropdown__title">  [[#{navbar.AboutUs}]]</span>
              <ul class="dropdown__list">
                <li><a th:href="${'/about-us-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.AboutUs}]]</a></li>
                <li><a th:href="${'/our-team-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.OurTeam}]]</a></li>
              </ul>
            </div>
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-user-star-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.ClientsCareers}]]</span>
              <ul class="dropdown__list">
                <li><a th:href="${'/klientet-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.OurClients}]]</a></li>
                <li><a th:href="${'/careers-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.Careers}]] </a>
                </li>
              </ul>
            </div>
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-star-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.Reviews}]]</span>
              <ul class="dropdown__list">
                <li><a th:href="${'/reviews-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.CustomerReviews}]]</a></li>
                <li><a th:href="${'/sales-'+ #locale.language +'.html'}" class="dropdown__link"> <i class="fa fa-chevron-right"></i> [[#{navbar.Sales}]] </a>
                </li>
              </ul>
            </div>
            <div class="dropdown__group">
              <div class="dropdown__icon">
                <i class="ri-mail-line"></i>
              </div>
              <span class="dropdown__title">[[#{navbar.Contact}]] </span>
              <ul class="dropdown__list">
                <li><a th:href="${'/contact-'+ #locale.language +'.html'}" class="dropdown__link"><i class="fa fa-chevron-right"></i> [[#{navbar.ContactUs}]] </a></li>
                <li><a href="https://help.bookersdesk.com/"  class="dropdown__link" target="_blank"><i
                        class="fa fa-chevron-right"></i> [[#{navbar.Support}]] </a></li>
              </ul>
            </div>
            <div class="dropdown__group special-group dropdown__none ">
              <div class="image-containerheader" style=" background-color: hsl(220, 68%, 97%);">
                <img src="assets/images/bdesk/team.jpg" class="center-image" alt="Bookers Desk team">

              </div>
              <div class="special-text">
                <h4>[[#{navbar.Industryleading}]]</h4>
                <p th:utext="#{navbar.Tensof}">  </p>
              </div>
            </div>
          </div>
          <section class="cta-section dropdown__none">
            <div class="container">
              <h2 class="dropdown__title">[[#{navbar.Discovernewopportunities}]] </h2>
              <a  th:href="'https://panel.bookersdesk.com/freeDemo?lang=' + ${#locale.language}"  class="btn-outline">
                <span>[[#{navbar.RequestaDemo}]]  <img src="https://fadata.eu/wp-content/uploads/2023/05/arrow-right.svg" alt="arrow"></span>
              </a>
            </div>
          </section>

        </div>
      </li>


      <li class="nav-item me-lg-4" style="cursor:pointer;">
        <th:block th:replace="~{/languages}"> </th:block>
        <a href="#" class="nav-link" style="background: transparent;" data-bs-toggle="modal" data-bs-target="#languageModal">
          <span th:class="${flagClass} + ' flag-circle '" style="width: 20px; height: 14px;"></span>
          <span th:text="${#locale.language.toUpperCase()}"></span>
        </a>
      </li>




      <li style="display: flex; align-items: center;white-space: nowrap;">
        <a href="https://panel.bookersdesk.com/login" class="login-link hover-underline" style="color: black; text-decoration: none;">[[#{navbar.Login}]] </a>
        <span style="margin: 0 10px; color: gray;">|</span>
        <a class="nav-btn btn btn-primary text-white"
           th:href="'https://panel.bookersdesk.com/freeDemo?lang=' + ${#locale.language}"  target="_blank">[[#{navbar.RequestaDemo}]]
        </a>
      </li>
    </ul>
  </div>
</nav>
<script th:src="${'../../assets/javascripts/search-data-'+ #locale.language +'.js'}"></script>
<script src="../../assets/javascripts/search.js"></script>