<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{meta.title.privacy}"></title>
    <meta name="description" th:content="#{meta.description.privacy}">
    <meta name="keywords" th:content="#{meta.keywords.privacy}">
    <link rel="icon" type="image/x-icon" href="assets/images/fav blue-02.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="./assets/css/style-elements.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <style>
        a {
            display: inline-block;
        }
    </style>
     <script type="text/javascript"> var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/68ff4466d6c35b19500efec9/1j8j389su';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })(); </script>
</head>
<body id="top">
<header class="header">
    <th:block th:replace="~{/navbar}"></th:block>
</header>
<main>
    <article>
        <section>
            <div class="bg-images"
                 style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./assets/images/dark-blue-gradient-background-9562-1024x616.jpg') center/cover no-repeat fixed;">
                <section class="container text-center">
                    <h1 style="color: white;
        font-size: 3.6rem;">
                  [[#{policy.policy}]]      </h1>
                </section>
            </div>
        </section>
        <section class="container">
            <div class="section">
                <h4>[[#{privacy.info.title}]]</h4>
                <p>[[#{privacy.info.text}]] <a href="https://bookersdesk.com/" target="_blank" style="color: rgb(130, 130, 211);">https://bookersdesk.com/</a>.</p>

                <h4>[[#{privacy.personaldata.title}]]</h4>
                <p>[[#{privacy.personaldata.text}]]</p>
                <ol style="color:#213d79">
                    <li><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;<b>[[#{privacy.personaldata.item1}]]</b></li>
                    <li><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;<b>[[#{privacy.personaldata.item2}]]</b></li>
                </ol>

                <h4>[[#{privacy.datacollection.title}]]</h4>
                <p>[[#{privacy.datacollection.text}]]</p>
                <ol style="color:#213d79">
                    <li><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;<b>[[#{privacy.datacollection.item1}]]</b></li>
                    <li><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;<b>[[#{privacy.datacollection.item2}]]</b></li>
                </ol>

                <h4>[[#{privacy.optionalconsent.title}]]</h4>
                <p>[[#{privacy.optionalconsent.text1}]]</p>
                <p>[[#{privacy.optionalconsent.text2}]]</p>

                <h4>[[#{privacy.communication.title}]]</h4>
                <p>[[#{privacy.communication.text}]]</p>

                <h4>[[#{privacy.preservation.title}]]</h4>
                <p>[[#{privacy.preservation.text}]]</p>

                <h4>[[#{privacy.rights.title}]]</h4>
                <ol style="color:#213d79">
                    <li><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;<b>[[#{privacy.rights.item1}]]</b></li>
                    <li><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;<b>[[#{privacy.rights.item2}]]</b></li>
                </ol>
                <p>[[#{privacy.rights.text}]]</p>

                <h4>[[#{privacy.controller.title}]]</h4>
                <p>[[#{privacy.controller.text}]]</p>
            </div>
        </section>

    </article>
</main>

<th:block th:replace="~{/footer}"> </th:block>

<th:block th:replace="~{/cookie-consent}"></th:block>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="./assets/js/script.js" defer></script>
</body>
</html>