<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{meta.title.clients}"></title>
    <meta name="description" th:content="#{meta.description.clients}">
    <meta name="keywords" th:content="#{meta.keywords.clients}">

    <link rel="icon" type="image/x-icon" href="assets/images/fav blue-02.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="./assets/css/style-elements.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script>
        "use strict";
        !function () {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                    t.factory = function (e) {
                        return function () {
                            var n = Array.prototype.slice.call(arguments);
                            return n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                    var i = document.getElementsByTagName("script")[0];
                    i.parentNode.insertBefore(o, i);
                };
            }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('panc3fz8stu7');
    </script>
    <style>
        .grid-list {
            grid-template-columns: repeat(5, 1fr);
            display:grid;
            gap: 10px;
        }
        .service-card2 {
            background-position: center center;
            width: 230px; /* Set a width for the box */
            height: 100px; /* Fixed height for the box */
            padding: 20px 20px 20px 20px;
            box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.5);
            border-style: solid;
            border-width: 0px 0px 0px 0px;
            border-color: #f5f5f5;
            border-radius: 10px 10px 10px 10px;

            box-shadow: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
            border-radius: 6px;
        }
        @media(max-width:1000px){
            .grid-list {
                grid-template-columns: repeat(2, 1fr);
            }
            .service-card2{
                width: 180px; /* Set a width for the box */
                height: 100px; /* Fixed height for the box */
            }
        }
    </style>
</head>
<body id="top">
<header class="header">
    <th:block th:replace="~{/navbar}"></th:block>
</header>
<main>
    <article>

        <section>
            <div class="bg-images"
                 style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./assets/images/dark-blue-gradient-background-9562-1024x616.jpg') center/cover no-repeat fixed;">
                <section class="container text-center">
                    <h1 style="color: white;   font-size: 3.6rem;">[[#{navbar.OurClients}]]</h1>
                </section>
            </div>
        </section>

        <section class="section service" aria-labelledby="service-label">
            <div class="container">
                <h2 class="h2 section-title" style="text-align: center;">
                   [[#{klientet.some}]]
                </h2>
                <ul class="grid-list">
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=16"  target="_blank">  <img src="assets/images/clients/vm-resort.png" style="width: 130px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=215"  target="_blank">   <img src="assets/images/clients/rapos.png" style="width: 130px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=208"  target="_blank">   <img src="assets/images/clients/bonsai.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=216"   target="_blank"> <img src="assets/images/clients/nia-logo.png" style="width: 110px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=189"   target="_blank">   <img src="assets/images/clients/mazarine.png" style="width: 110px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=15"   target="_blank">    <img src="assets/images/clients/hotel1maji.png" style="width: 100px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=211"  target="_blank">   <img src="assets/images/clients/6milje.png" style="width: 130px;">
                            </a>
                        </div>

                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=14"  target="_blank"> <img src="assets/images/clients/aurum-logo.png" style="width: 130px;"> </a>

                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=207"  target="_blank">   <img src="assets/images/clients/bunec-beach-resort.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=19"  target="_blank">   <img src="assets/images/clients/seaview-bunec.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=23"  target="_blank">   <img src="assets/images/clients/divo-palace.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=28"  target="_blank">   <img src="assets/images/clients/holiday.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=228"  target="_blank">   <img src="assets/images/clients/monun-hotel.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=38"  target="_blank">   <img src="assets/images/clients/happy-stay.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=39"  target="_blank">   <img src="assets/images/clients/kolagji.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=43"  target="_blank">   <img src="assets/images/clients/hotel-alpha.png" style="width: 50px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=45"  target="_blank">   <img src="assets/images/clients/celaj.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=53"  target="_blank">   <img src="assets/images/clients/golden-sun.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=63"  target="_blank">   <img src="assets/images/clients/sasso-hotel.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=70"  target="_blank">   <img src="assets/images/clients/center-boutique.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=72"  target="_blank">   <img src="assets/images/clients/hotel-senator.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=73"  target="_blank">   <img src="assets/images/clients/mema-resort.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=74"  target="_blank">   <img src="assets/images/clients/dorchester.png" style="width: 70px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=75"  target="_blank">   <img src="assets/images/clients/vullkan-hotel.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=78"  target="_blank">   <img src="assets/images/clients/golden-hotel.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=79"  target="_blank">   <img src="assets/images/clients/harbour.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=80"  target="_blank">   <img src="assets/images/clients/sky-way.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=84"  target="_blank">   <img src="assets/images/clients/kaan.png" style="width:80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=112"  target="_blank">   <img src="assets/images/clients/alexander-hotel.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=85"  target="_blank">   <img src="assets/images/clients/joni-kompleks.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=90"  target="_blank">   <img src="assets/images/clients/sunset-aparthotel.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=91"  target="_blank">   <img src="assets/images/clients/alex-aparthotel.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=92"  target="_blank">   <img src="assets/images/clients/shpetimi-villa.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=93"  target="_blank">   <img src="assets/images/clients/oskar.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=94"  target="_blank">   <img src="assets/images/clients/sunrays-hotel.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=95"  target="_blank">   <img src="assets/images/clients/vila-milo.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=96"  target="_blank">   <img src="assets/images/clients/royal.png" style="width:65px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=97"  target="_blank">   <img src="assets/images/clients/arrei-hotel.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=99"  target="_blank">   <img src="assets/images/clients/green-garden.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=103"  target="_blank">   <img src="assets/images/clients/oxygen.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=104"  target="_blank">   <img src="assets/images/clients/mesopotam.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=106"  target="_blank">   <img src="assets/images/clients/hotel-beke.png" style="width:60px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=107"  target="_blank">   <img src="assets/images/clients/gest-hotel.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=109"  target="_blank">   <img src="assets/images/clients/seawave.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=113"  target="_blank">   <img src="assets/images/clients/la-maroja.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=115"  target="_blank">   <img src="assets/images/clients/otto-hotel.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=120"  target="_blank">   <img src="assets/images/clients/erioni-hotel.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=123"  target="_blank">   <img src="assets/images/clients/galaxy-hotel.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=124"  target="_blank">   <img src="assets/images/clients/center hotel.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=136"  target="_blank">   <img src="assets/images/clients/argjiro.png" style="width: 70px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=137"  target="_blank">   <img src="assets/images/clients/hotel-afa.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=140"  target="_blank">   <img src="assets/images/clients/hotel-aliko.png" style="width:50px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=146"  target="_blank">   <img src="assets/images/clients/soare.png" style="width:90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=161"  target="_blank">   <img src="assets/images/clients/lej-laj.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=162"  target="_blank">   <img src="assets/images/clients/arel-hotel.png" style="width: 90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=165"  target="_blank">   <img src="assets/images/clients/hotel-milo.png" style="width: 80px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=167"  target="_blank">   <img src="assets/images/clients/elmare.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=168"  target="_blank">   <img src="assets/images/clients/unico.png" style="width: 50px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=169"  target="_blank">   <img src="assets/images/clients/hotel-sole.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=170"  target="_blank">   <img src="assets/images/clients/la-maison.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=171"  target="_blank">   <img src="assets/images/clients/asi-rooftop.png" style="width: 40px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=172"  target="_blank">   <img src="assets/images/clients/cekodhima.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=176"  target="_blank">   <img src="assets/images/clients/atlantis.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=178"  target="_blank">   <img src="assets/images/clients/mega-hosttel.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=179"  target="_blank">   <img src="assets/images/clients/ajden.png" style="width: 70px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=187"  target="_blank">   <img src="assets/images/clients/albulena.jpg" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=190"  target="_blank">   <img src="assets/images/clients/3islands.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=192"  target="_blank">   <img src="assets/images/clients/olimpic-hotel.png" style="width:90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://blueboutique.al/"  target="_blank">   <img src="assets/images/clients/blue-boutique.png" style="width:90px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=196"  target="_blank">   <img src="assets/images/clients/altobelo.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=202"  target="_blank">   <img src="assets/images/clients/area-hotel.png" style="width: 100px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=203"  target="_blank">   <img src="assets/images/clients/comfort-suites.png" style="width: 120px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=206"  target="_blank">   <img src="assets/images/clients/emblem.png" style="width: 60px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=209"  target="_blank">   <img src="assets/images/clients/sunkissed.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://www.elite-hotel.al/"  target="_blank"> <img src="assets/images/clients/elite-hotel.png" style="width:90px;">

                        </div> </a>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=219"  target="_blank">   <img src="assets/images/clients/beliz.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=218"  target="_blank">   <img src="assets/images/clients/mira-mare.png" style="width: 130px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=222"  target="_blank">   <img src="assets/images/clients/adam-eve.png" style="width: 60px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=223"  target="_blank">   <img src="assets/images/clients/central-hotel.png" style="width: 110px;">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-card2" style="display: flex;justify-content: center;align-items: center;">
                            <a href="https://panel.bookersdesk.com/BookingPage?id=224"  target="_blank">   <img src="assets/images/clients/kuburi.png" style="width: 50px;">
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </section>
    </article>
</main>

<th:block th:replace="~{/footer}"> </th:block>
<th:block th:replace="~{/cookie-consent}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="./assets/js/script.js" defer></script>
<script>
    const cookieBox = document.querySelector(".wrapper"),
        buttons = document.querySelectorAll(".button"),
        policyLink = document.getElementById("policyLink");
    const executeCodes = () => {
        // Show cookieBox if cookie is not set
        if (!document.cookie.includes("cookieBy=codinglab")) {
            cookieBox.classList.add("show");
        }
        buttons.forEach((button) => {
            button.addEventListener("click", () => {
                cookieBox.classList.remove("show");
                // Set cookie if accept button is clicked
                if (button.id === "acceptBtn") {
                    document.cookie = "cookieBy=codinglab; max-age=" + 60 * 60 * 24 * 30;
                }
            });
        });
        // Add event listener to the policy link
        policyLink.addEventListener("click", (e) => {
            e.preventDefault(); // Prevent default link behavior
            cookieBox.classList.add("show"); // Show the cookie consent box
        });
    };
    // Call executeCodes function on webpage load
    window.addEventListener("load", executeCodes);
</script>
</body>
</html>