<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Engagement | BookersDesk</title>
    <meta name="description" content="Use technology to offer personalized services that enhance guest engagement and their experience. Automate communic
   and create long-term relationships with your customers through digital platforms and mobile apps." />
    <meta name="keywords" content="guest engagement, technology, real-time communication, personalized services, loyalty programs,
   communication automation, mobile apps, preference management" />

    <link rel="icon" type="image/x-icon" href="assets/images/fav blue-02.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="./assets/css/style-elements.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <style>
        .hero-title1 {
            background: linear-gradient(270deg, #1b75bb 0%, #009a9e 72%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-block: 12px 8px;
        }
        .hotel-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #1b75bb;
            padding: 15px;
            border-radius: 10px;
            margin: 20px auto;
            flex-wrap: wrap;
            gap: 30px;
        }
        .hotel-section .icon {
            width: 50px;
            height: 50px;
        }
        .hotel-section .text {
            flex: 1;
            font-size: 16px;
        }
        .hotel-section .text b {
            font-weight: bold;
        }
        @media (max-width: 600px) {
            .hotel-section {
                flex-direction: column;
                text-align: center;
            }
        }
    </style>
    <script>
        "use strict";
        !function () {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                    t.factory = function (e) {
                        return function () {
                            var n = Array.prototype.slice.call(arguments);
                            return n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                    var i = document.getElementsByTagName("script")[0];
                    i.parentNode.insertBefore(o, i);
                };
            }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('panc3fz8stu7');
    </script>
</head>
<body id="top">
<header class="header">
    <th:block th:replace="~{/navbar}"></th:block>
</header>
<main>
    <article>
        <section class="section hero" id="home" aria-label="hero"
                 style="background: linear-gradient(90deg, #00112C 9.803921568627452%, #011E5A 50%, #002372 79.41%);">
            <div class="container">
                <div class="hero-content">
                    <h1 class="h1 hero-title">Guest Engagement </h1>
                    <p style="color: white;">
                        With BookersDesk, you can maintain competitive prices with real-time updated data and automated price alerts.
                    </p>
                </div>
                <figure class="hero-banner">
                    <img src="assets/images/bdesk/bookersdesk 03.02.25-01.png" width="620" height="573" alt="hero banner" class="w-100">
                </figure>
            </div>
        </section>
        <section class="about section" id="about" data-wow-delay="0.1s">
            <div class="container">
                <figure class=" hero-banner">
                    <img src="assets/images/bdesk/hotelgroup.png" loading="lazy" alt="about banner" class="w-100 ">
                </figure>
                <div class="feature-content">

                    <h2 class="h2 section-title">
                        Correct guest engagement
                    </h2>

                    <p class="section-text">
                        Guest engagement is the key to creating an unforgettable experience and increasing loyalty.
                        With the help of technology, hoteliers can offer opportunities to connect with guests and improve their experience.
                    </p>
                    <hr style="margin: 20px 0px;width: 100px;height: 1px;">
                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <spna class="span h5">Offer personalized services that meet the needs of individuals.</spna>
                    </div>
                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <spna class="span h5">Engage guests through messages and live activities.</spna>
                    </div>
                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <spna class="span h5">Using engagement to create long-term relationships and loyalty from customers.</spna>
                    </div>
                </div>
            </div>
        </section>
        <!--
          - #PMS
        -->
        <section class="section feature " aria-labelledby="feature-label"
                 style="background: linear-gradient(#dfeaf6, #fff);">
            <div class="container ">
                <div class="feature-content">
                    <h2 class="h2 section-title">
                        Personalized communication
                    </h2>
                    <p class="section-text">
                        One of the most effective ways to engage guests is personalized communication through various channels, offering content and opportunities that suit each guest.
                    </p>
                    <hr style="margin: 20px 0px;width: 100px;height: 1px;">
                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <spna class="span h5"> Using messages and mobile apps to connect in real-time with guests. </spna>
                    </div>
                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <spna class="span h5">Offer opportunities and services that cater to the preferences and needs of guests.  </spna>
                    </div>
                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <spna class="span h5">
                            Engaging with guests during their stay helps improve the overall experience. </spna>
                    </div>
                </div>
                <figure class=" features-banner">
                    <img src="assets/images/bdesk/bookingengine (4).png" width="800" height="531" loading="lazy" alt="feature banner"
                         class="w-100">
                </figure>
            </div>
        </section>
        <section class="section feature " aria-labelledby="feature-label">
            <div class="container ">
                <figure class=" features-banner">
                    <img src="assets/images/bdesk/guestman.png" width="800" height="531" loading="lazy"
                         alt="feature banner" class="w-100">
                </figure>
                <div class="feature-content">
                    <h2 class="h2 section-title">
                        Creating loyalty programs
                    </h2>
                    <p class="section-text">
                        Loyalty programs are an effective tool to increase engagement and reward guests who return often.
                    </p>
                    <hr style="margin: 20px 0px;width: 100px;height: 1px;">
                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <spna class="span h5">Offer rewards and opportunities for members who return to the hotel. </spna>
                    </div>
                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <spna class="span h5">Create a unique and exclusive experience for every guest participating in the loyalty program.</spna>
                    </div>

                </div>
            </div>
        </section><br>
        <section>
            <div class="container">
                <div class="hotel-section">
                    <img src="assets/images/bdesk/calendar.png" alt="Hotel Icon" class="icon">
                    <p class="text">
                        Stay flexible and competitive with<b> the hotel management system</b> built for the future.</p>
                    <a href="https://panel.bookersdesk.com/freeDemo?lang=en" target="_blank">
                        <button class="btn-outline" style="color: #fff;">Request a demo</button>
                    </a>
                </div>
            </div>
        </section>
        <section class="section feature" aria-labelledby="feature-label" >
            <div class="container">
                <div class="feature-content">
                    <h2 class="h2 section-title">The use of technology for guest engagement</h2>
                    <p class="section-text">
                        Technology plays an increasingly important role in guest engagement. The use of digital platforms, mobile apps, and communication automation
                        can help improve the guest experience and facilitate communication with them.
                    </p>
                    <hr style="margin: 20px 0px;width: 100px;height: 1px;">
                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="construct-outline" aria-hidden="true"></ion-icon>
                        </div>
                        <strong class="span h5">Offer opportunities for preference management. </strong>
                    </div>
                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>
                        </div>
                        <strong class="span h5"> Use automation for more efficient communication. </strong>
                    </div>
                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="options-outline" aria-hidden="true"></ion-icon>
                        </div>
                        <strong class="span h5">Personalize services according to preferences.</strong>
                    </div>

                </div>
                <figure class="features-banner">
                    <img src="assets/images/bdesk/hotelimagefirst.png" width="800" height="531" loading="lazy" alt="feature banner" class="w-100">
                </figure>
            </div>
        </section>

    </article>
</main>

<th:block th:replace="~{/footer}"> </th:block>

<th:block th:replace="~{/cookie-consent}"></th:block>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="./assets/js/script.js" defer></script>
</body>
</html>