<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{meta.title.reservations}"></title>
    <meta name="description" th:content="#{meta.description.reservations}">
    <meta name="keywords" th:content="#{meta.keywords.reservations}">

    <link rel="icon" type="image/x-icon" href="assets/images/fav blue-02.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="./assets/css/style-elements.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <style>
        .hero-title1 {
            background: linear-gradient(270deg, #1b75bb 0%, #009a9e 72%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-block: 12px 8px;
        }
        .hotel-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #1b75bb;
            padding: 15px;
            border-radius: 10px;
            margin: 20px auto;
            flex-wrap: wrap;
            gap: 30px;
        }
        .hotel-section .icon {
            width: 50px;
            height: 50px;
        }
        .hotel-section .text {
            flex: 1;
            font-size: 16px;
        }
        .hotel-section .text b {
            font-weight: bold;
        }
        @media (max-width: 600px) {
            .hotel-section {
                flex-direction: column;
                text-align: center;
            }
        }
    </style>
     <script type="text/javascript"> var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/68ff4466d6c35b19500efec9/1j8j389su';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })(); </script>
</head>
<body id="top">
<header class="header">
    <th:block th:replace="~{/navbar}"></th:block>
</header>
<main>
    <article>
        <section class="section hero" id="home" aria-label="hero"
                 style="background: linear-gradient(90deg, #00112C 9.803921568627452%, #011E5A 50%, #002372 79.41%);">
            <div class="container">
                <div class="hero-content">
                    <h1 class="h1 hero-title">[[#{reservations.res}]]  </h1>
                    <p style="color: white;">
                        [[#{reservations.increase}]]
                    </p>
                </div>
                <figure class="hero-banner">
                    <img src="assets/images/bdesk/hotelimagefirst.png" width="620" height="573" alt="hero banner" class="w-100">
                </figure>
            </div>
        </section>
        <section class="about section" id="about" data-wow-delay="0.1s">
            <div class="container">
                <figure class=" hero-banner">
                    <img src="assets/images/bdesk/hotelgroup.png" loading="lazy" alt="about banner" class="w-100 ">
                </figure>
                <div class="feature-content">
                    <h2 class="h2 section-title">[[#{reservations.managementTitle}]]</h2>

                    <p class="section-text">
                        [[#{reservations.managementIntro}]]
                    </p>
                    <hr style="margin: 20px 0px;width: 100px;height: 1px;">

                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <span class="span h5">[[#{reservations.monitorOptimize}]]</span>
                    </div>

                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <span class="span h5">[[#{reservations.multiChannel}]]</span>
                    </div>

                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <span class="span h5">[[#{reservations.smartDistribution}]]</span>
                    </div>
                </div>

            </div>
        </section>
        <!--
          - #PMS
        -->
        <section class="section feature " aria-labelledby="feature-label"
                 style="background: linear-gradient(#dfeaf6, #fff);">
            <div class="container ">
                <div class="feature-content">
                    <h2 class="h2 section-title">
                        [[#{reservations.managementTitle}]]
                    </h2>
                    <p class="section-text">
                        [[#{reservations.managementIntro1}]]
                    </p>
                    <hr style="margin: 20px 0px;width: 100px;height: 1px;">

                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <span class="span h5">[[#{reservations.maximizeCapacity}]]</span>
                    </div>

                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <span class="span h5">[[#{reservations.optimizeDistribution}]]</span>
                    </div>

                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <span class="span h5">[[#{reservations.monitorBookings}]]</span>
                    </div>
                </div>

                <figure class=" features-banner">
                    <img src="assets/images/bdesk/secone.png" width="800" height="531" loading="lazy" alt="feature banner"
                         class="w-100">
                </figure>
            </div>
        </section>

        <section class="about section" id="about" data-wow-delay="0.1s">
            <div class="container">
                <figure class="features-banner">
                    <h1 class="h1 hero-title1">[[#{reservations.secureBookingTitle}]]</h1>
                </figure>

                <div class="about-content">
                    <p class="about-text">[[#{reservations.secureBookingIntro}]]</p>

                    <ul class="feature-list">
                        <li>
                            <div class="feature-card">
                                <div class="card-icon">
                                    <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                                </div>
                                <span class="span">[[#{reservations.securePayments}]]</span>
                            </div>
                        </li>
                        <li>
                            <div class="feature-card">
                                <div class="card-icon">
                                    <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                                </div>
                                <span class="span">[[#{reservations.preventInvalidBookings}]]</span>
                            </div>
                        </li>
                        <li>
                            <div class="feature-card">
                                <div class="card-icon">
                                    <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                                </div>
                                <span class="span">[[#{reservations.directBookingProcess}]]</span>
                            </div>
                        </li>
                        <li>
                            <div class="feature-card">
                                <div class="card-icon">
                                    <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                                </div>
                                <span class="span">[[#{reservations.reduceCommissions}]]</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </section>
        <section class="section feature " aria-labelledby="feature-label">
            <div class="container">
                <figure class="features-banner">
                    <img src="assets/images/bdesk/hotelimagesecond.png" width="800" height="531" loading="lazy" alt="feature banner"
                         class="w-100">
                </figure>

                <div class="feature-content">
                    <h2 class="h2 section-title">[[#{reservations.distributionTitle}]]</h2>

                    <p class="section-text">[[#{reservations.distributionIntro}]]</p>

                    <hr style="margin: 20px 0px;width: 100px;height: 1px;">

                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <span class="span h5">[[#{reservations.increaseExposure}]]</span>
                    </div>

                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <span class="span h5">[[#{reservations.integratedSystem}]]</span>
                    </div>

                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <span class="span h5">[[#{reservations.controlPrices}]]</span>
                    </div>

                    <div class="accordion-btn">
                        <div class="card-icon">
                            <ion-icon name="checkmark" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        </div>
                        <span class="span h5">[[#{reservations.optimizeProfits}]]</span>
                    </div>
                </div>
            </div>

        </section>
    </article>
</main>

<th:block th:replace="~{/footer}"> </th:block>

<th:block th:replace="~{/cookie-consent}"></th:block>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="./assets/js/script.js" defer></script>
</body>
</html>